/* Palette colori */
:root {
    --color-mail: #1F64C1;
}

/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* Imposto il contenitore dell'immagine ad una grandezza massima
del 30% del suo contenitore padre che è il div card */
.image-content {
    width: 30%;
    height: 100%;
}

.team-content {
    width: calc(100% - 30%);
}

/* Classe fluida per le immagini */
.image-content img.image-team {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    /* Riempio l'immagine nel contenitore mantenendo le
    sue proporzioni ma ritagliando eventualmente i
    bordi per adattarla al suo contenitore */
    object-fit: cover;
}
/* Aggiungo delle transizioni all'hover del mouse sull'immagine */
.image-content img.image-team:hover {
    transform: scale(0.9, 0.9);
    transition: all 1s;
    opacity: 0.9;
}

body {
    margin: 50px;
    font-family: "Coiny", system-ui;
    font-style: normal;
    font-weight: 100;
}

.cards {
    background-color: black;
    height: 150px;
}

.cards .name,
.cards .role,
.cards .email {
    color: white;
    padding-left: 20px;
}

/* Sovrascrivo il color: white; di sopra per la classe email */
.cards .email {
    color: var(--color-mail);
    font-weight: 800;
}

h2 {
    text-transform: uppercase;
}